<nb-card accent="info">
    <nb-card-header>About this project</nb-card-header>

    <nb-card-body>

        <div fxLayout="column" fxLayoutAlign="start center">
            <p>This project was built and developed by Eden Nahum, for studying porpuses.</p>
            <p>We get the jewelleries data from <a href="https://Leibish.com">Leibish.com</a> api.</p>
            <p>Feel free to contact me - <a href="malito:Edenik5@gmail.com">Edenik5@gmail.com</a></p>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button nbButton  outline status="info" (click)="cancel()"><i class="fas fa-long-arrow-left"></i>&nbsp; Back</button>
            <a nbButton outline status="primary" href="https://github.com/Edenik/JewelleriesStore" target="_blank">
                <i class="fab fa-github"></i>&nbsp;GitHub
              </a>
            <a nbButton  outline status="info" href="https://Edenik.com/" target="_blank"><i class="fab fa-dev"></i>&nbsp; Edenik.com</a>
        </div>
    </nb-card-footer>


</nb-card>