<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="fire" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<p class="breadcumb">
  <a class="breadLink" href="/#">Home</a> / <a class="breadLink" [routerLink]="['/profile/']">Profile</a>
</p>

<nb-card class="card" *ngIf="userInfo">
  <nb-card-body>
    <nb-user size="giant" name="{{userInfo.userName}}" title="{{userInfo.userEmail}}" picture="{{userInfo.userImage}}">
    </nb-user>
  </nb-card-body>
</nb-card>


<nb-card class="card">
  <nb-card-body>
    <table *ngIf="orders">
      <caption>Orders:</caption>
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Price</th>
          <th scope="col">Items</th>
          <th scope="col">Date</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of orders">
          <td data-label="Order ID"><a href="/order/{{order.id}}">{{order.id}}</a></td>
          <td data-label="Price">{{order.price | currency}}</td>
          <td data-label="Items">{{order.items.length }}</td>
          <td data-label="Date">{{order.date.toDate()  | date  }}</td>
        </tr>
      </tbody>
    </table>
    <h2 *ngIf="!orders[0]">Yet no orders!</h2>
  </nb-card-body>
</nb-card>