<p class="breadcumb">
    <a class="breadLink" href="/#">Home</a>
</p>



<div class="container">

    <div class="slider">
        <div class="yellow" style="background-image: url(/assets/images/necklace.png)">
            <h3>You deserve the best</h3>
            <h2>Beautiful Necklaces</h2>
            <a class="button" href="cat/necklaces" nbButton status="dark">
                <nb-icon icon="shopping-bag"></nb-icon> Start Shopping
            </a>
        </div>

        <div
            style="background-image: url(/assets/images/earrings.png)">
            <h3>Make your life better</h3>
            <h2>Genuine Diamonds</h2>
            <a class="button" href="cat/earrings" nbButton status="dark">
                <nb-icon icon="shopping-bag"></nb-icon> Start Shopping
            </a>
        </div>

        <div class="yellow"
            style="background-image: url(/assets/images/bracelets.jpg)">
            <h3>You deserve to be beauty</h3>
            <h2>Golden Bracelets</h2>
            <a class="button" href="cat/bracelets" nbButton status="dark">
                <nb-icon icon="shopping-bag"></nb-icon> Start Shopping
            </a>
        </div>
        <div class="purple"
            style="background-image: url(/assets/images/rings.jpg)">
            <h3>She will say “yes!”</h3>
            <h2>Engagement Rings</h2>
            <a class="button" href="cat/rings" nbButton status="dark">
                <nb-icon icon="shopping-bag"></nb-icon> Start Shopping
            </a>
        </div>
    </div>
</div>